<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatbot Moderno</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
    <script src="{{url_for('static', filename='js/index.js')}}"></script>
</head>
<body>
    <div class="container">
        <header>
            <h1>Chatbot</h1>
        </header>
        <main>
            <div class="chat-window" id ="chatWindow">
                <div class="input-container">
                    <input type="text" id="userInput" placeholder="Digite sua mensagem..." onkeypress="checkEnter(event)"/>
                    <button id="send-btn">Enviar</button>
                </div>
            </div>
        </main>
    </div>
    <script src="script.js"></script>
</body>
</html>
